<tr>
    <td class="text-center"><%= gameTask.category %></td>
    <td><%= gameTask.task %></td>
    <td class="text-center"><%=gameTask.points%></td>
    <td class="text-center"><%=gameTask.maxRate%> </td>
    <!-- <td><%= gameTask.graduatesComplete %></td> -->
    <td class="text-center"><a href="/admin/gameTaskEdit/<%= gameTask._id %>" class="link-button">EDIT</a></td>
</tr>
