<!-- game-row.ejs -->

<% let date = new Date; %>
<% let dateValue = date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) + '-' + date.getDate().toString().padStart(2, 0); %> 
<% let userTasksArray = user.tasksCompleted; %> 

<% if (userTasksArray.length >= 1 ) { %>
    <% userTasksArray.forEach (taskCompleted => { %>
        <% if ((taskCompleted.task === task.task) && (taskCompleted.dateCompleted = dateValue) && ((taskCompleted.maxRate === 'once') || (taskCompleted.maxRate === 'daily'))) { %>
            <% console.log(`The task ${task.task} printed here because it matched the first set of conditions.`) %> 
            <div class="container-game-row">
                <form action="/profile/updateGameTask/<%= task._id %>" method="POST">
                    <div class="container-game-row-small">
                        <div class="container-game-row-controls">
                            <span class="text-center">points: <%= task.points %></span>
                        </div>
                        <div class="container-game-row-task text-strikethrough">
                            <%= task.task %>
                        </div>
                    </div>
                    <div class="container-game-date">
                        <label for="dateCompleted">Date Completed: </label>
                        <input type="date" name="dateCompleted" id="dateCompleted" value="<%= dateValue %>">
                    </div>
                </form>
            </div>
        <% } else { %>

            <% console.log(`The task ${task.task} printed here because it didn't match the first set of conditions.`) %> 


            <div class="container-game-row">
                <form action="/profile/updateGameTask/<%= task._id %>" method="POST">
                    <div class="container-game-row-small">
                        <div class="container-game-row-controls">
                            <span class="text-center">points: <%= task.points %></span> 
                            <input type="submit" value="ADD" class="button-submit">
                        </div>
                        <div class="container-game-row-task">
                            <%= task.task %>
                        </div>
                    </div>
                    <div class="container-game-date">
                        <label for="dateCompleted">Date Completed: </label>
                        <input type="date" name="dateCompleted" id="dateCompleted" value="<%= dateValue %>">
                    </div>
                </form>
            </div>
        <% } %>
        
    <% }) %>
<% } else { %>
    <div class="container-game-row">
        <form action="/profile/updateGameTask/<%= task._id %>" method="POST">
            <div class="container-game-row-small">
                <div class="container-game-row-controls">
                    <span class="text-center">points: <%= task.points %></span> 
                    <input type="submit" value="ADD" class="button-submit">
                </div>
                <div class="container-game-row-task">
                    <%= task.task %>
                </div>
            </div>
            <div class="container-game-date">
                <label for="dateCompleted">Date Completed: </label>
                <input type="date" name="dateCompleted" id="dateCompleted" value="<%= dateValue %>">
            </div>
        </form>
    </div>
<% } %>



<!-- Index page -->
<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>ADD TASKS, GET POINTS</h1>

    <% if(user === undefined) { %>
        <p>
            You must <a href="/profile/login" class="container-content-link">login</a> to earn points. See the <a href="/about" class="container-content-link">About</a> page to learn more.
        </p>                 
    <% } else { %>
        <p>Welcome <%= user.name %>! Check off the tasks you've completed below in order to score points.</p>
        <h2 class="text-center">YOUR TOTAL POINTS: <%= user.totalPoints %> </h2>
        <div class="container-game-heading">
            <h2>Start with the BASICS.</h2>
        </div>
        <% gameList.forEach( task => { %>
            <% if(task.category === 'basics') { %>
                <%- include ('../partials/game-row', {task: task, user: user}) %>
            <% } %> 
        <% }) %>
        <div class="container-game-heading">
            <h2>Improve your PROFILE.</h2>
        </div>
        <% gameList.forEach( task => { %>
            <% if(task.category === 'profile') { %>
                <%- include ('../partials/game-row', {task: task, user: user}) %>
            <% } %> 
        <% }) %>
        <div class="container-game-heading">
            <h2>Continue your LEARNING.</h2>
        </div>
        <% gameList.forEach( task => { %>
            <% if(task.category === 'learning') { %>
                <%- include ('../partials/game-row', {task: task, user: user}) %>
            <% } %> 
        <% }) %>
        <div class="container-game-heading">
            <h2>Build your PORTFOLIO.</h2>
        </div>
        <% gameList.forEach( task => { %>
            <% if(task.category === 'portfolio') { %>
                <%- include ('../partials/game-row', {task: task, user: user}) %>
            <% } %> 
        <% }) %>
        <div class="container-game-heading">
            <h2>Extend your NETWORK.</h2>
        </div>
        <% gameList.forEach( task => { %>
            <% if(task.category === 'network') { %>
                <%- include ('../partials/game-row', {task: task, user: user}) %>
            <% } %> 
        <% }) %>
        <div class="container-game-heading">
            <h2>Apply for JOBS.</h2>
        </div>
        <% gameList.forEach( task => { %>
            <% if(task.category === 'jobs') { %>
                <%- include ('../partials/game-row', {task: task, user: user}) %>
            <% } %> 
        <% }) %>
    <% } %> 
</div>



<%- include('../partials/footer') -%> 


<!-- Index jacked up -->

<div class="container-content">
    <h1>ADD TASKS, GET POINTS</h1>

    <% if(user === undefined) { %>
        <p>
            You must <a href="/profile/login" class="container-content-link">login</a> to earn points. See the <a href="/about" class="container-content-link">About</a> page to learn more.
        </p>                 
    <% } else { %>
        <p>Welcome <%= user.name %>! Check off the tasks you've completed below in order to score points.</p>
        <h2 class="text-center">YOUR TOTAL POINTS: <%= user.totalPoints %> </h2>
        <div class="container-game-heading">
            <h2>Start with the BASICS.</h2>
        </div>
        <% tasksIncomplete.forEach( task => { %>
            <% if(task.category === 'basics') { %>
                <%- include ('../partials/game-row', {task: task, user: user, printRow: 'regular'}) %>              
            <% }; %> 
        <% }) %>
        <% tasksCompleted.forEach( task => { %>
            <% if(task.category === 'basics') { %>
               
                <%- include ('../partials/game-row', {task: task, user: user, printRow: 'completed'}) %>                
                  
            <% }; %> 
        <% }) %>
        <br><br><br>
        <div class="container-game-heading">
            <h2>COMPLETED BASICS</h2>
        </div>
        <% tasksCompletedBottom.forEach( task => { %>
            <% if(task.category === 'basics') { %>
                <% completedDateBottomArray.forEach(date => { %>
                    <%- include ('../partials/game-row', {task: task, user: user, printRow: 'completedBottom', date: date}) %>  
                <% }) %> 
                            
            <% }; %> 
        <% }) %>

        
        
    <% } %> 
</div>


<!-- game-row.ejs not working -->

<% if(printRow === 'regular') { %>
    <div class="container-game-row">
        <form action="/profile/updateGameTask/<%= task._id %>" method="POST">
            <div class="container-game-row-small">
                <div class="container-game-row-controls">
                    <span class="text-center">points: <%= task.points %></span> 
                    <input type="submit" value="ADD" class="button-submit">
                </div>
                <div class="container-game-row-task">
                    <%= task.task %>
                </div>
            </div>
            <div class="container-game-date">
                <label for="dateCompleted">Date Completed: </label>
                <input type="date" name="dateCompleted" id="dateCompleted" value="<%= dateValue %>">
            </div>
        </form>
    </div>
<% } else if (printRow === 'completed') { %>
    <div class="container-game-row">
        <form action="/profile/updateGameTask/<%= task._id %>" method="POST">
            <div class="container-game-row-small">
                <div class="container-game-row-controls">
                    <span class="text-center">points: <%= task.points %></span>
                </div>
                <div class="container-game-row-task text-strikethrough">
                    <%= task.task %>
                </div>
            </div>
            <div class="container-game-date">
                <label for="dateCompleted">Date Completed: </label>
                <span> print date completed </span>
            </div>
        </form>
    </div>
<% } else if (printRow === 'completedBottom') { %>
    <div class="container-game-row">
        <form action="/profile/updateGameTask/<%= task._id %>" method="POST">
            <div class="container-game-row-small">
                <div class="container-game-row-controls">
                    <span class="text-center">points: <%= task.points %></span>
                </div>
                <div class="container-game-row-task">
                    <%= task.task %>
                </div>
            </div>
            <div class="container-game-date">
                <label for="dateCompleted">Date Completed: </label>
                <span><%= date %></span>
                
            </div>
        </form>
    </div>
<% } %> 



