<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Edit <%= foundGraduate.name %>'s Information </h1>
    <div class="container-buttons-row">
        <a href="/admin" class="link-button">Back to Admin Dashboard</a>
        <a href="/admin/graduatesList" class="link-button">See Graduates List</a>
    </div>
    <div class="container-form">
        <form action="/admin/graduateEdit/<%= foundGraduate._id %>?_method=PUT " method="POST" enctype="application/x-www-form-urlencoded">
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="name">Full Name:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="name" name="name" value="<%=foundGraduate.name%>">
                </div>
            </div>

            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="email">Email:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="email" name="email" value="<%=foundGraduate.email%>">
                </div>
            </div>
    
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="cohortYear">Cohort Year:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="cohortYear" name="cohortYear" value="<%=foundGraduate.cohortYear%>">
                </div>
            </div>
            
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="photoUrl">Photo URL Path:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="photoUrl" name="photoUrl" value="<%=foundGraduate.photoUrl%>">
                </div>
            </div>        
            
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="githubUrl">GitHub URL:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="githubUrl" name="githubUrl" value="<%=foundGraduate.githubUrl%>">
                </div>
            </div>
    
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="linkedinUrl">LinkedIn URL:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="linkedinUrl" name="linkedinUrl" value="<%=foundGraduate.linkedinUrl%>">
                </div>
            </div>
    
            <div class="container-form-row">
                <div class="container-form-label">
                    <span>Admin Status:</span>
                </div>
                <div class="container-form-input">
                    <input type="radio" id="adminYes" name="adminStatus" value="Admin" 
                    <% if(foundGraduate.adminStatus === "Admin") { %>
                        checked
                    <% } %>
                    >
                    <label for="adminYes">Admin</label>

                    <input type="radio" id="adminNo" name="adminStatus" value="Not an Admin" 
                    <% if(foundGraduate.adminStatus == "Not an Admin") { %>
                        checked
                    <% } %> 
                    >
                    <label for="adminNo">Not an Admin</label>
                </div>
            </div>

            <p>Edit the graduate's tasks below.</p>
    
            <div class="container-button-submit">
                <input type="submit" class="button-submit red-accents">
            </div>
    
        </form>

        <h2>Edit Game Tasks for <%= foundGraduate.name %></h2>
        <p>Total Points: <%= foundGraduate.totalPoints %> </p>



        <div class="container-game-heading red-accents">
            <h2>COMPLETED BASICS</h2>
        </div>
        <% tasksCompletedAllTime.forEach( task => { %>
            <% if(task.category === 'basics') { %>
                <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'done all', color: 'red-accents'}) %>
            <% } %> 
        <% }) %>

        <div class="container-game-heading orange-accents">
            <h2>COMPLETED PROFILE</h2>
        </div>
        <% tasksCompletedAllTime.forEach( task => { %>
            <% if(task.category === 'profile') { %>
                <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'done all', color: 'orange-accents'}) %>
            <% } %> 
        <% }) %>

        <div class="container-game-heading yellow-accents">
            <h2>COMPLETED LEARNING</h2>
        </div>
        <% tasksCompletedAllTime.forEach( task => { %>
            <% if(task.category === 'learning') { %>
                <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'done all', color: 'yellow-accents'}) %>
            <% } %> 
        <% }) %>

        <div class="container-game-heading green-accents">
            <h2>COMPLETED PORTFOLIO</h2>
        </div>
        <% tasksCompletedAllTime.forEach( task => { %>
            <% if(task.category === 'portfolio') { %>
                <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'done all', color: 'green-accents'}) %>
            <% } %> 
        <% }) %>

        <div class="container-game-heading blue-accents">
            <h2>COMPLETED NETWORK</h2>
        </div>
        <% tasksCompletedAllTime.forEach( task => { %>
            <% if(task.category === 'network') { %>
                <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'done all', color: 'blue-accents'}) %>
            <% } %> 
        <% }) %>

        <div class="container-game-heading purple-accents">
            <h2>COMPLETED JOBS</h2>
        </div>
        <% tasksCompletedAllTime.forEach( task => { %>
            <% if(task.category === 'jobs') { %>
                <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'done all', color: 'purple-accents'}) %>
            <% } %> 
        <% }) %>


        


        <br><br><br>

        <div class="container-game-heading red-accents">
            <h2>Start with the BASICS.</h2>
        </div>
        <% tasksCanAddToday.forEach( task => { %>
            <% if(task.category === 'basics') { %>
                <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'regular', color: 'red-accents'}) %>
            <% } %> 
        <% }) %>
        <!-- <% tasksCompletedToday.forEach( task => { %> -->
            <!-- <% if(task.category === 'basics') { %> -->
                <!-- <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'done today', color: 'red-accents'}) %> -->
            <!-- <% } %>  -->
        <!-- <% }) %> -->

        <div class="container-game-heading orange-accents">
            <h2>Improve your PROFILE.</h2>
        </div>
        <% tasksCanAddToday.forEach( task => { %>
            <% if(task.category === 'profile') { %>
                <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'regular', color: 'orange-accents'}) %>
            <% } %> 
        <% }) %>
        <!-- <% tasksCompletedToday.forEach( task => { %> -->
            <!-- <% if(task.category === 'profile') { %> -->
                <!-- <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'done today', color: 'orange-accents'}) %> -->
            <!-- <% } %>  -->
        <!-- <% }) %> -->

        <div class="container-game-heading yellow-accents">
            <h2>Continue your LEARNING.</h2>
        </div>
        <% tasksCanAddToday.forEach( task => { %>
            <% if(task.category === 'learning') { %>
                <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'regular', color: 'yellow-accents'}) %>
            <% } %> 
        <% }) %>
        <!-- <% tasksCompletedToday.forEach( task => { %> -->
            <!-- <% if(task.category === 'learning') { %> -->
                <!-- <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'done today', color: 'yellow-accents'}) %> -->
            <!-- <% } %>  -->
        <!-- <% }) %> -->

        <div class="container-game-heading green-accents">
            <h2>Build your PORTFOLIO.</h2>
        </div>
        <% tasksCanAddToday.forEach( task => { %>
            <% if(task.category === 'portfolio') { %>
                <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'regular', color: 'green-accents'}) %>
            <% } %> 
        <% }) %>
        <!-- <% tasksCompletedToday.forEach( task => { %> -->
            <!-- <% if(task.category === 'portfolio') { %> -->
                <!-- <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'done today', color: 'green-accents'}) %> -->
            <!-- <% } %>  -->
        <!-- <% }) %> -->

        <div class="container-game-heading blue-accents">
            <h2>Extend your NETWORK.</h2>
        </div>
        <% tasksCanAddToday.forEach( task => { %>
            <% if(task.category === 'network') { %>
                <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'regular', color: 'blue-accents'}) %>
            <% } %> 
        <% }) %>
        <!-- <% tasksCompletedToday.forEach( task => { %> -->
            <!-- <% if(task.category === 'network') { %> -->
                <!-- <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'done today', color: 'blue-accents'}) %> -->
            <!-- <% } %>  -->
        <!-- <% }) %> -->

        <div class="container-game-heading purple-accents">
            <h2>Apply for JOBS.</h2>
        </div>
        <% tasksCanAddToday.forEach( task => { %>
            <% if(task.category === 'jobs') { %>
                <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'regular', color: 'purple-accents'}) %>
            <% } %> 
        <% }) %>
        <!-- <% tasksCompletedToday.forEach( task => { %> -->
            <!-- <% if(task.category === 'jobs') { %> -->
                <!-- <%- include ('../partials/game-row-admin', {task: task, user: user, foundGraduate: foundGraduate, style: 'done today', color: 'purple-accents'}) %> -->
            <!-- <% } %>  -->
        <!-- <% }) %> -->


    </div>
</div>



<%- include('../partials/footer') -%> 