<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Edit <%= foundGraduate.name %>'s Information </h1>
    <div class="container-buttons-row">
        <a href="/admin" class="link-button">Back to Admin Dashboard</a>
        <a href="/admin/graduatesList" class="link-button">See Graduates List</a>
    </div>
    <div class="container-form">
        <form action="/admin/graduateEdit/<%= foundGraduate._id %>?_method=PUT " method="POST" enctype="application/x-www-form-urlencoded">
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="name">Full Name:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="name" name="name" value="<%=foundGraduate.name%>">
                </div>
            </div>

            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="email">Email:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="email" name="email" value="<%=foundGraduate.email%>">
                </div>
            </div>
    
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="cohortYear">Cohort Year:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="cohortYear" name="cohortYear" value="<%=foundGraduate.cohortYear%>">
                </div>
            </div>
            
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="photoUrl">Photo URL Path:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="photoUrl" name="photoUrl" value="<%=foundGraduate.photoUrl%>">
                </div>
            </div>        
            
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="githubUrl">GitHub URL:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="githubUrl" name="githubUrl" value="<%=foundGraduate.githubUrl%>">
                </div>
            </div>
    
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="linkedinUrl">LinkedIn URL:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="linkedinUrl" name="linkedinUrl" value="<%=foundGraduate.linkedinUrl%>">
                </div>
            </div>
    
            <div class="container-form-row">
                <div class="container-form-label">
                    <span>Admin Status:</span>
                </div>
                <div class="container-form-input">
                    <input type="radio" id="adminYes" name="adminStatus" value="Admin" 
                    <% if(foundGraduate.adminStatus === "Admin") { %>
                        checked
                    <% } %>
                    >
                    <label for="adminYes">Admin</label>

                    <input type="radio" id="adminNo" name="adminStatus" value="Not an Admin" 
                    <% if(foundGraduate.adminStatus == "Not an Admin") { %>
                        checked
                    <% } %> 
                    >
                    <label for="adminNo">Not an Admin</label>
                </div>
            </div>
    
            <p>Total Points: <%= foundGraduate.totalPoints %> </p>

            <p>Tasks Completed: Need to list tasks completed and on what date and give admin ability to edit this info. Maybe table similar to game homepage, but with only tasks complete and button is for deleting, add button for editing date.</p>
    
            <div class="container-button-submit">
                <input type="submit" class="button-submit">
            </div>
    
        </form>
    </div>
    

    
</div>



<%- include('../partials/footer') -%> 