<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>


<div class="container-content">
    <h1>ADD TASKS, GET POINTS</h1>
    <% if(user === undefined) { %>
        <p>
            You must <a href="/profile/login" class="container-content-link">login</a> to earn points. See the <a href="/about" class="container-content-link">About</a> page to learn more.
        </p> 
        
        <% let date = new Date; %>
        <% let dateValue = date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) + '-' + date.getDate().toString().padStart(2, 0); %> 

        <div class="container-game-row">
            <% redirect = 'game new' %> 
            <form action="/profile/checkUpdateTaskDate?_method=PUT " method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="container-game-row-task">
                        update resume with feedback from industry volunteer or CodeSquad staff (max 1 per day)
                    </div>
                    <div class="container-game-row-controls red-accents">
                        <div class="container-game-row-small">
                            <input type="submit" value="ADD" class="button-submit red-accents">
                            <span class="text-center">points: 10</span> 
                        </div>
                        <div class="container-game-date">
                            <label for="dateCompleted">Date Completed: </label>
                            <input type="date" name="dateCompleted" id="dateCompleted" value="<%= dateValue %>">
                        </div>
                    </div>
            </form>
        </div>

        <div class="container-game-row">
            <form action="/profile/checkUpdateTaskDate?_method=PUT " method="POST" enctype="application/x-www-form-urlencoded">
                <div class="container-game-row-task">
                    spend 1 hour on a portfolio project or web dev course
                </div>
                <div class="container-game-row-controls red-accents">
                    <div class="container-game-row-small completed-tasks">
                        <a href="/profile/deleteTask/id" class="button-submit grey-accents">DELETE</a>
                        <span class="text-center">points: 5</span>
                    </div>
                    <div class="container-game-date">
                        <div class="container-game-date-no-button">
                            <label for="dateCompleted">Completed:</label>
                            <input type="date" name="dateCompleted" id="dateCompleted" value="<%= dateValue %>">
                        </div>
                        <input type="submit" value="UPDATE" class="button-submit red-accents">  
                    </div>
                </div>
            </form>   
        </div>

    <% } else { %>
        <p>Welcome <%= user.name %>! Check off the tasks you've completed below in order to score points.</p>
        <h2 class="text-center">YOUR TOTAL POINTS: <%= user.totalPoints %> </h2>
        <div class="container-game-heading red-accents">
            <h2>Start with the BASICS.</h2>
        </div>
        <% tasksCanAddToday.forEach( task => { %>
            <% if(task.category === 'basics') { %>
                <%- include ('../partials/game-row', {task: task, user: user, style: 'regular', color: 'red-accents'}) %>
            <% } %> 
        <% }) %>
        <!-- <% tasksCompletedToday.forEach( task => { %> -->
            <!-- <% if(task.category === 'basics') { %> -->
                <!-- <%- include ('../partials/game-row', {task: task, user: user, style: 'done today', color: 'red-accents'}) %> -->
            <!-- <% } %>  -->
        <!-- <% }) %> -->

        <div class="container-game-heading orange-accents">
            <h2>Improve your PROFILE.</h2>
        </div>
        <% tasksCanAddToday.forEach( task => { %>
            <% if(task.category === 'profile') { %>
                <%- include ('../partials/game-row', {task: task, user: user, style: 'regular', color: 'orange-accents'}) %>
            <% } %> 
        <% }) %>
        <!-- <% tasksCompletedToday.forEach( task => { %> -->
            <!-- <% if(task.category === 'profile') { %> -->
                <!-- <%- include ('../partials/game-row', {task: task, user: user, style: 'done today', color: 'orange-accents'}) %> -->
            <!-- <% } %>  -->
        <!-- <% }) %> -->

        <div class="container-game-heading yellow-accents">
            <h2>Continue your LEARNING.</h2>
        </div>
        <% tasksCanAddToday.forEach( task => { %>
            <% if(task.category === 'learning') { %>
                <%- include ('../partials/game-row', {task: task, user: user, style: 'regular', color: 'yellow-accents'}) %>
            <% } %> 
        <% }) %>
        <!-- <% tasksCompletedToday.forEach( task => { %> -->
            <!-- <% if(task.category === 'learning') { %> -->
                <!-- <%- include ('../partials/game-row', {task: task, user: user, style: 'done today', color: 'yellow-accents'}) %> -->
            <!-- <% } %>  -->
        <!-- <% }) %> -->

        <div class="container-game-heading green-accents">
            <h2>Build your PORTFOLIO.</h2>
        </div>
        <% tasksCanAddToday.forEach( task => { %>
            <% if(task.category === 'portfolio') { %>
                <%- include ('../partials/game-row', {task: task, user: user, style: 'regular', color: 'green-accents'}) %>
            <% } %> 
        <% }) %>
        <!-- <% tasksCompletedToday.forEach( task => { %> -->
            <!-- <% if(task.category === 'portfolio') { %> -->
                <!-- <%- include ('../partials/game-row', {task: task, user: user, style: 'done today', color: 'green-accents'}) %> -->
            <!-- <% } %>  -->
        <!-- <% }) %> -->

        <div class="container-game-heading blue-accents">
            <h2>Extend your NETWORK.</h2>
        </div>
        <% tasksCanAddToday.forEach( task => { %>
            <% if(task.category === 'network') { %>
                <%- include ('../partials/game-row', {task: task, user: user, style: 'regular', color: 'blue-accents'}) %>
            <% } %> 
        <% }) %>
        <!-- <% tasksCompletedToday.forEach( task => { %> -->
            <!-- <% if(task.category === 'network') { %> -->
                <!-- <%- include ('../partials/game-row', {task: task, user: user, style: 'done today', color: 'blue-accents'}) %> -->
            <!-- <% } %>  -->
        <!-- <% }) %> -->

        <div class="container-game-heading purple-accents">
            <h2>Apply for JOBS.</h2>
        </div>
        <% tasksCanAddToday.forEach( task => { %>
            <% if(task.category === 'jobs') { %>
                <%- include ('../partials/game-row', {task: task, user: user, style: 'regular', color: 'purple-accents'}) %>
            <% } %> 
        <% }) %>
        <!-- <% tasksCompletedToday.forEach( task => { %> -->
            <!-- <% if(task.category === 'jobs') { %> -->
                <!-- <%- include ('../partials/game-row', {task: task, user: user, style: 'done today', color: 'purple-accents'}) %> -->
            <!-- <% } %>  -->
        <!-- <% }) %> -->

        <br><br><br>
        <div class="container-game-heading red-accents">
            <h2>COMPLETED BASICS</h2>
        </div>
        <% tasksCompletedAllTime.forEach( task => { %>
            <% if(task.category === 'basics') { %>
                <%- include ('../partials/game-row', {task: task, user: user, style: 'done all', color: 'red-accents'}) %>
            <% } %> 
        <% }) %>

        <div class="container-game-heading orange-accents">
            <h2>COMPLETED PROFILE</h2>
        </div>
        <% tasksCompletedAllTime.forEach( task => { %>
            <% if(task.category === 'profile') { %>
                <%- include ('../partials/game-row', {task: task, user: user, style: 'done all', color: 'orange-accents'}) %>
            <% } %> 
        <% }) %>

        <div class="container-game-heading yellow-accents">
            <h2>COMPLETED LEARNING</h2>
        </div>
        <% tasksCompletedAllTime.forEach( task => { %>
            <% if(task.category === 'learning') { %>
                <%- include ('../partials/game-row', {task: task, user: user, style: 'done all', color: 'yellow-accents'}) %>
            <% } %> 
        <% }) %>

        <div class="container-game-heading green-accents">
            <h2>COMPLETED PORTFOLIO</h2>
        </div>
        <% tasksCompletedAllTime.forEach( task => { %>
            <% if(task.category === 'portfolio') { %>
                <%- include ('../partials/game-row', {task: task, user: user, style: 'done all', color: 'green-accents'}) %>
            <% } %> 
        <% }) %>

        <div class="container-game-heading blue-accents">
            <h2>COMPLETED NETWORK</h2>
        </div>
        <% tasksCompletedAllTime.forEach( task => { %>
            <% if(task.category === 'network') { %>
                <%- include ('../partials/game-row', {task: task, user: user, style: 'done all', color: 'blue-accents'}) %>
            <% } %> 
        <% }) %>

        <div class="container-game-heading purple-accents">
            <h2>COMPLETED JOBS</h2>
        </div>
        <% tasksCompletedAllTime.forEach( task => { %>
            <% if(task.category === 'jobs') { %>
                <%- include ('../partials/game-row', {task: task, user: user, style: 'done all', color: 'purple-accents'}) %>
            <% } %> 
        <% }) %>




    <% } %>
</div>




<%- include('../partials/footer') -%> 