<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Edit Profile Information </h1>
    <div class="container-buttons-row">
        <a href="/profile" class="link-button">Cancel</a>
        <!-- <a href="/admin/graduatesList" class="link-button">See Graduates List</a> -->
    </div>
    <div class="container-form">
        <form action="/profile/editProfile/<%= user._id %>?_method=PUT " method="POST" enctype="application/x-www-form-urlencoded">
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="name">Full Name:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="name" name="name" value="<%=user.name%>">
                </div>
            </div>

            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="email">Email:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="email" name="email" value="<%=user.email%>">
                </div>
            </div>       
    
            <div class="container-form-row">
                <div class="container-form-label">
                    <label for="linkedinUrl">LinkedIn URL:</label>
                </div>
                <div class="container-form-input">
                    <input type="text" id="linkedinUrl" name="linkedinUrl" value="<%=user.linkedinUrl%>">
                </div>
            </div>
            <div class="container-form-row">
                <div class="container-form-label">
                    <span>Total Points:</span>
                </div>
                <div class="container-form-input">
                    <span><%= user.totalPoints %></span>
                </div>

            </div>
            
            <p>NOTE: Editing your email address will change the email you use to log into this app.</p>
            <p>NOTE: Some information can only be edited by an administrator. If you need to update other account information, email Melissa (melissa@codesquad.org) with your request.</p>
    
            <div class="container-button-submit">
                <input type="submit" class="button-submit red-accents">
            </div>
    
        </form>
    </div>
</div>

<%- include('../partials/footer') -%> 