<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Profile: <%= user.name  %> </h1>
    <% if(message != undefined ) { %>
        <%= message %> 
    <% } %> 
    <% if(user.adminStatus === 'Admin') { %>
        <a href="/admin" class="container-content-link">Admin Dashboard</a>
    <% } %> 
    
</div>



<%- include('../partials/footer') -%> 