<%- include('../partials/head') -%>
<%- include('../partials/navbar') -%>

<div class="container-content">
    <h1>Scoreboards</h1>
    <h2 class="heading">Monthly Points Scoreboard</h2>
    <% let place; %> 
    <% for (let i = 0; i < 3; i++) { %>
        <% if(i===0) { %>
            <% place = 'First Place'; %> 
        <% }; %> 
        <% if(i===1) { %>
            <% place = 'Second Place'; %> 
        <% }; %> 
        <% if(i===2) { %>
            <% place = 'Third Place'; %> 
        <% }; %> 
        <%- include ('../partials/scoreboard-row', {grad: sortedGradsMonth[i], place: place, board: 'monthly'}) %> 
    <% } %> 

    <h2 class="heading">All-Time Points Scoreboard</h2>
    <% for (let i = 0; i < 3; i++) { %>
        <% if(i===0) { %>
            <% place = 'First Place'; %> 
        <% }; %> 
        <% if(i===1) { %>
            <% place = 'Second Place'; %> 
        <% }; %> 
        <% if(i===2) { %>
            <% place = 'Third Place'; %> 
        <% }; %> 
        <%- include ('../partials/scoreboard-row', {grad: sortedGradsAllTime[i], place: place, board: 'all-time'}) %> 
    <% } %> 


</div>




<%- include('../partials/footer') -%> 